In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\kundan.kaushik'

In [4]:
import pandas as pda

In [5]:
data1=pda.read_csv('t2.csv')

In [6]:
data1

  name  roll  batch
0   kk    30   1840
1   hs    21   1849
2  a.k    34   1840

In [ ]:
data2=read_csv()