In [2]:
import pandas as pda

In [8]:
data1=pda.read_excel(r'C:\Users\kundan.kaushik\Documents\demadata.xlsx')
data1

      name    age address
0   kundan   1000    hhjk
1  harshit    200   snjnb
2    anshu  10000    jsnd

In [9]:
data2=pda.read_csv(r'C:\Users\kundan.kaushik\Documents\goPy\t2.csv')

In [10]:
data2

  name  roll  batch
0   kk    30   1840
1   hs    21   1849
2  a.k    34   1840

In [13]:
data3=pda.read_csv(r'C:\Users\kundan.kaushik\Documents\goPy\t3.tsv',sep='\t')

In [14]:
data3

      name  age  batch
0   kundan   29   1840
1  harshit    2   1840
2       ak   30   1840