In [2]:
#6 b) Top 10 womenâ€™s ODI Batting players along with the records of their team and rating

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [4]:

data=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting').text
soup=BeautifulSoup(data,'html.parser')

In [5]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])

for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

['table', 'rankings-table']

  Position          Player Name Team Rating
0                  Alyssa Healy  AUS    785
1                   Beth Mooney  AUS    749
2                Natalie Sciver  ENG    747
3               Laura Wolvaardt   SA    732
4                   Meg Lanning  AUS    710
5                Rachael Haynes  AUS    701
6             Amy Satterthwaite   NZ    681
7                Tammy Beaumont  ENG    667
8           Chamari Athapaththu   SL    655
9               Smriti Mandhana  IND    649