In [2]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [6]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.

data=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting').text
soup=BeautifulSoup(data,'html.parser')

In [8]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])

In [9]:
for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

['table', 'rankings-table']

In [10]:
count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

  Position            Player Name Team Rating
0                      Babar Azam  PAK    890
1           Rassie van der Dussen   SA    789
2                 Quinton de Kock   SA    784
3                     Imam-ul-Haq  PAK    779
4                     Virat Kohli  IND    744
5                    Rohit Sharma  IND    740
6                    David Warner  AUS    737
7                  Jonny Bairstow  ENG    732
8                     Ross Taylor   NZ    722
9                     Aaron Finch  AUS    715