In [1]:
#6 c) Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [2]:
#https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder
data=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder').text
soup=BeautifulSoup(data,'html.parser')

In [3]:
df=pd.DataFrame(columns=['Position','Player Name','Team','Rating'])

for table in soup.find_all('table'):
    print(table.get('class'))
    
table = soup.find('table', class_='table rankings-table')

count=1
for row in table.find_all('tr'):    
    # Find all data for each column
    columns2 = row.find_all('td')
    if(columns2!=[] and count<11):
        pos=columns2[0].text.split('\n',1)[0]
        player_name=columns2[1].text.strip()
        team=columns2[2].text.strip()
        rating=columns2[3].text.strip()
        df=df.append({'Position':pos,'Player Name':player_name,'Team':team,'Rating':rating},ignore_index=True)
        count+=1
        
df

['table', 'rankings-table']

  Position       Player Name Team Rating
0             Natalie Sciver  ENG    379
1               Ellyse Perry  AUS    374
2             Marizanne Kapp   SA    349
3            Hayley Matthews   WI    339
4                Amelia Kerr   NZ    336
5           Ashleigh Gardner  AUS    270
6              Deepti Sharma  IND    252
7              Jess Jonassen  AUS    246
8            Katherine Brunt  ENG    220
9            Stafanie Taylor   WI    207