In [1]:
#2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [5]:
res=requests.get('http://www.imdb.com/chart/top')
soup=BeautifulSoup(res.text,"html.parser")

In [31]:
movies=soup.select('td.titleColumn')
#movies
movieInfo = movies[0].get_text()
print(movieInfo)
movie = (' '.join(movieInfo.split()).replace('.', ''))
print(movie)

      1.
      The Shawshank Redemption
(1994)

1 The Shawshank Redemption (1994)

In [25]:
#print(soup.select('td.posterColumn span[name=ir]'))
ratings=[rating_span.attrs.get('data-value')for rating_span in soup.select('td.posterColumn span[name=ir]')]
#print(ratings)

In [40]:
movies_details=[]
for index in range(0,100):
    movieInfo=movies[index].get_text()
    arrangMovieInfo=(' '.join(movieInfo.split()).replace('.',''))
    movieName=arrangMovieInfo[len(str(index))+1:-7]
    yearOfRelease=re.search('\((.*?)\)', movieInfo).group(1)
    movies_detail={"Name": movieName,
            "Rating": ratings[index],
            "Year of release": yearOfRelease
            }
    movies_details.append(movies_detail)
#movies_details

In [41]:
df = pd.DataFrame(movies_details)
df

                                 Name             Rating Year of release
0            The Shawshank Redemption  9.234678588641325            1994
1                       The Godfather   9.15655176471247            1972
2                     The Dark Knight  8.987405113152922            2008
3               The Godfather Part II  8.984559290985729            1974
4                        12 Angry Men  8.949240085637063            1957
..                                ...                ...             ...
95                             Jagten  8.255932305358366            2012
96  M - Eine Stadt sucht einen Mörder  8.254328815193015            1931
97                 North by Northwest  8.252185731406096            1959
98                       Idi i smotri  8.247252037199656            1985
99                            Vertigo  8.246800170965205            1958

[100 rows x 3 columns]