In [1]:
#3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [2]:
res=requests.get('https://www.imdb.com/india/top-rated-indian-movies')
soup=BeautifulSoup(res.text,"html.parser")

In [3]:
movies=soup.select('td.titleColumn')
#movies
movieInfo = movies[0].get_text()
print(movieInfo)
movie = (' '.join(movieInfo.split()).replace('.', ''))
print(movie)

      1.
      Rocketry: The Nambi Effect
(2022)

1 Rocketry: The Nambi Effect (2022)

In [4]:
#print(soup.select('td.posterColumn span[name=ir]'))
ratings=[rating_span.attrs.get('data-value')for rating_span in soup.select('td.posterColumn span[name=ir]')]
#print(ratings)

In [5]:
movies_details=[]
for index in range(0,100):
    movieInfo=movies[index].get_text()
    arrangMovieInfo=(' '.join(movieInfo.split()).replace('.',''))
    movieName=arrangMovieInfo[len(str(index))+1:-7]
    yearOfRelease=re.search('\((.*?)\)', movieInfo).group(1)
    movies_detail={"Name": movieName,
            "Rating": ratings[index],
            "Year of release": yearOfRelease
            }
    movies_details.append(movies_detail)
#movies_details

In [6]:
df = pd.DataFrame(movies_details)
df

                           Name             Rating Year of release
0    Rocketry: The Nambi Effect  8.532822429357127            2022
1                    Anbe Sivam  8.398642356920783            2003
2                       Golmaal  8.389752044630582            1979
3                       Nayakan   8.38570090044611            1987
4                      Jai Bhim   8.38351528850698            2021
..                          ...                ...             ...
95              Rang De Basanti  8.013547242221192            2006
96  Baahubali 2: The Conclusion  8.012191818766116            2017
97                       Baasha  8.010464849449415            1995
98                       Masaan  8.007336584139868            2015
99                    Virumandi  8.006881154419343            2004

[100 rows x 3 columns]